%form
  %tr
    %td= search_box_widget field: :country
    %td= search_box_widget field: :city
    %td= search_box_widget field: :street, cond: 'like'
    %td= search_box_widget field: :house, cond: 'eq'
    %td= search_box_widget field: :zipcode
    %td= search_box_widget field: :date, cond: 'like'
    %td