%form
  %tr
    %td= search_box_widget field: 'country_cont'
    %td= search_box_widget field: 'city_cont'
    %td= search_box_widget field: 'street_like'
    %td= search_box_widget field: 'house_eq'
    %td= search_box_widget field: 'zipcode_cont'
    %td= search_box_widget field: 'date_like'