- content_for :ng_controller, 'addressesCtrl'
- content_for :ng_init, 'doSearch()'

= paginate @addresses

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        %a(href="#" ng-click="sort()" ng-model="address.country")
          = @model.human_attribute_name(:country)
      %th
        -#%a(href="#" ng-click="sort()" class="sort_link")
        %input(ng-model="city_sort" name="city_sort" value="asc" type="text" ng-click="sort()")
        -#= @model.human_attribute_name(:city)
      %th= @model.human_attribute_name(:street)
      %th= @model.human_attribute_name(:house)
      %th= @model.human_attribute_name(:zipcode)
      %th= @model.human_attribute_name(:date)
  %tbody
    = render 'filter'
    %tr(ng-repeat="address in addresses")
      %td= '{{ address.address.country }}'
      %td= '{{ address.address.city }}'
      %td= '{{ address.address.street }}'
      %td= '{{ address.address.house }}'
      %td= '{{ address.address.zipcode }}'
      %td= '{{ address.address.date }}'

= paginate @addresses