= paginate @addresses

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
      %th= 'Страна'
      %th= 'Город'
      %th= 'Улица'
      %th= 'Дом'
      %th= 'Индекс'
      %th= 'Дата'
  %tbody
    - @addresses.each do |address|
      %tr
        %td= address.id
        %td= address.country
        %td= address.city
        %td= address.street
        %td= address.house
        %td= address.zipcode
        %td= address.date


= paginate @addresses