- content_for :ng_controller, 'addressesCtrl'
- content_for :ng_init, 'doSearch()'

= link_to t(:new), new_address_path, class: 'btn btn-primary'

= paginate @addresses

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= sort_link_widget field: :country
      %th= sort_link_widget field: :city
      %th= sort_link_widget field: :street
      %th= sort_link_widget field: :house
      %th= sort_link_widget field: :zipcode
      %th= sort_link_widget field: :date
      %th
  %tbody
    = render 'filter'
    %tr(ng-repeat="address in addresses")
      %td= '{{ address.address.country }}'
      %td= '{{ address.address.city }}'
      %td= '{{ address.address.street }}'
      %td= '{{ address.address.house }}'
      %td= '{{ address.address.zipcode }}'
      %td= '{{ address.address.date }}'
      %td
        %a{:href => '/addresses/{{ address.address.id }}/edit', :title => t(:edit)}
          %i.fa.fa-pencil-square-o
        %a{:href => '/addresses/{{ address.address.id }}', :title => t(:delete), 'data-method' => :delete}
          %i.fa.fa-trash-o

= paginate @addresses